<launch>

  <machine name="wheelchair" address="wheelchairEth" user="root" 
    env-loader="/opt/ros/indigo/rosenv.sh" default="never" />

  <machine name="mainrobot" address="mainrobot" user="rock" 
    env-loader="/home/rock/catkin_ws/devel/env.sh" default="never" />
 
<include file="$(find map)/launch/sim_map.launch"/>  

 <node pkg="shared_dwa" type="controller_input.sh" name="controller_input"
    output="log">
    <param name="interface" value="joystick" />
  </node>
  
<node pkg="shared_dwa" type="linear_dwa" name="linear_dwa" machine="mainrobot"  output="screen" >
     <rosparam command="load" file="$(find map)/map.yaml"/>
     <rosparam command="load" file="$(find dwa)/dwa.yaml"/>
	<rosparam command="load" file="$(find shared_dwa)/sim.yaml"/>
   </node>
	 <include file="$(find datalogger)/launch/datalogger.launch"/>  
</launch>
