<launch>
<arg name="interface" default="JS" />
<include file="$(find wheelchairtest)/launch/agent.launch"/>

<include file="$(find shared_dwa)/launch/sim.launch">
<arg name="interface" value ="$(arg interface)"/>
</include>  


<node pkg="shared_dwa" type="lin_dwa_gen" name="lin_dwa_gen"   output="screen" >
     <rosparam command="load" file="$(find costmap)/map.yaml"/>
     <rosparam command="load" file="$(find dwa)/dwa.yaml"/>
     <rosparam command="load" file="$(find dwa)/dwagen.yaml"/>
	<rosparam command="load" file="$(find dwa)/sim.yaml"/>
   </node>
</launch>