<launch>

<arg name="interface"/>

<machine name="wheelchair" address="wheelchairEth" user="root" 
    env-loader="/opt/ros/indigo/rosenv.sh" default="never" />
    
  <machine name="mainrobot" address="mainrobotEth" user="wheelchair" 
    env-loader="/home/wheelchair/catkin_ws/rosenv.sh" default="never"/>
    
       
 <!--<include file="$(find datalogger)/launch/datalogger.launch"/>-->
 
  	<include file="$(find costmap)/launch/sonar_map.launch"/>
 
	<node pkg="controller_input" type="controller_input" name="controller_input"
    	output="log"  machine="wheelchair" required="true">
   		<rosparam param="interface" subst_value="true"> $(arg interface) </rosparam>
  	</node>
  
 <node pkg="sonar_node" type="sonar" name="sonar"
    	output="log"  machine="wheelchair" required="true"/>
    
    output="log"  machine="mainrobot" respawn="true"/> 

	<node pkg="odometry" type="encoder_odometry.py" name="encoder"
    	output="log"  machine="wheelchair" respawn="true"/> -->
  
   <node pkg="motion_controller" type="accurate_controller" name="motor_controller"
    output="log"  machine="wheelchair" />
  
    <node pkg="controller_input" type="repeater" name="repeater" output="log"  machine="wheelchair"/>
  
 
  
</launch>




