<launch>

<include file="$(find map)/launch/map.launch"/>
<include file="$(find shared_dwa)/launch/main.launch"/>

  
  <node pkg="shared_dwa" type="psc_dwa" name="psc_dwa" output="screen" >
     <rosparam command="load" file="$(find dwa)/dwa.yaml"/>
      <rosparam command="load" file="$(find map)/map.yaml"/>
     <rosparam command="load" file="$(find shared_dwa)/psc_dwa.yaml"/>
   </node>
  
</launch>




