<launch>
<arg name="interface" default="JS" />

<include file="$(find shared_dwa)/launch/sim.launch">
<arg name="interface" value ="$(arg interface)"/>
</include>  

  <node pkg="shared_dwa" type="psc_dwa" name="psc_dwa" output="screen" >
  	<rosparam command="load" file="$(find costmap)/map.yaml"/>
     <rosparam command="load" file="$(find dwa)/dwa.yaml"/>
     <rosparam command="load" file="$(find shared_dwa)/psc_dwa.yaml"/>
	<rosparam command="load" file="$(find dwa)/sim.yaml"/>
   </node>
</launch>

