<launch>
  <machine name="wheelchair2" address="wheelchair2" user="root" 
    env-loader="/opt/ros/indigo/rosenv.sh" default="never" />

  <machine name="mainrobot2" address="mainrobot2" user="rock" 
    env-loader="/home/rock/catkin_ws/devel/env.sh" default="never" />
 <!--
  <machine name="remote2" address="remote2" user="ceezeh" 
    env-loader="/home/ceezeh/catkin_ws/devel/env.sh" default="never" />
  -->
  <node name="odometry" pkg="odometry" type="encoder_odometry.py"  respawn="true" machine="mainrobot2">
       
   </node>
  
  <node pkg="map" type="local_map" name="local_map" machine="mainrobot2" output="log" required="true">
  	<rosparam command="load" file="$(find map)/mymap.yaml" />
  </node>

  <node pkg="sonar_node" type="sonar" name="sonar"  machine="wheelchair2" respawn="true"/>

  <node pkg="visualise_occupancy" type="visualise_occupancy.py" name="Visualise_Occupancy" output="log" machine="mainrobot2"/>
 <!--
  <node pkg="controller_input" type="controller_input" name="controller_input"
    output="log" machine="wheelchair2">
    <param name="interface" value="joystick" />
  </node>
 -->
  <node pkg="motion_controller" type="controller" name="controller"
    output="log" machine="wheelchair2" respawn="true"/>

  <node pkg="shared_dwa" type="shared_dwa" name="shared_dwa" machine="mainrobot2"  output="screen" >
     <rosparam command="load" file="$(find shared_dwa)/shared_dwa.yaml"/>
   </node>
  
</launch>
